@using MvcHtmlHelpers;
@{
    Layout = null;
}

@functions{
    public string GetAntiForgeryToken()
    {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;
    }
}

<!DOCTYPE html>

<html class="app">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Appointment Responsive For Fun</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    @Styles.Render("~/Content/styles")
</head>
<body>
    <input id="antiForgeryToken" name="antiForgeryToken" type="hidden" value="@GetAntiForgeryToken()" />
    <input id="isAdmin" name="isAdmin" type="hidden" value="@(ViewBag.IsAdmin.ToString())" />
    <style>
        body > .ember-view {
            height: 100%;
        }

        .axisLabel {
            position: absolute;
            text-align: center;
            font-size: 12px;
        }

        .yaxisLabel {
            top: 50%;
            left: 20px;
            transform: rotate(-90deg);
            -o-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
            -moz-transform: rotate(-90deg);
            -webkit-transform: rotate(-90deg);
            transform-origin: 0 0;
            -o-transform-origin: 0 0;
            -ms-transform-origin: 0 0;
            -moz-transform-origin: 0 0;
            -webkit-transform-origin: 0 0;
        }
        .xaxisLabel {
            top: 270px;
            left: 50%;
        }
    </style>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/plugins")

    @Scripts.Render("~/bundles/ember")
    @Scripts.Render("~/bundles/app")

    @if (HttpContext.Current.IsDebuggingEnabled)
    {
        @Html.RenderEmber()
    }
    else
    {
        @Html.RenderEmber()
        //@Scripts.Render("~/bundles/templates")
    }
</body>
</html>
